
// xxxxxxxxxxxxxxxxxxxxxxxxxxxx

// For header and header-hero
@media screen and (max-width: 660px) {
  .header-hero__block {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .header-hero__subtitle {
    text-align: center;
    font-size: 25px;
    // color: #ffaa00;
    color: #fff;
    padding: 3px;
    background-color: rgba(228, 175, 0, 0.4);
  }
  .header-hero__col {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .header-hero__title {
    font-size: 30px;
    color: #fff;
    background-color: orange;
    opacity: 0.7;
    padding: 5px;
  }
  .header-hero__button {
    font-size: 20px;
  }
}

@media screen and (max-width: 510px) {
  .header {
    margin-bottom: 90px;
  }
  .header__right {
    flex-direction: column;
    align-items: unset;
  }
  .header__link {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .header__content {
    padding-top: 20px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 460px) {
  .header-hero__title {
    font-size: 22px;
  }
  .header-hero__subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 335px) {
  .header-hero__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 365px) {
  .header-hero__title {
    font-size: 20px;
  }
  .header__title {
    font-size: 17px;
  }
  .header__subtitle {
    font-size: 17px;
  }
}

// (end) header header-hero


// xxxxxxxxxxxxxxxxxxxxxxxxxxxx


// section-(about-me) start

@media screen and (max-width: 1230px) {
  .about-me__picture {
    margin-right: 60px;
  }
  .about-me__col {
    margin-right: 35px;
  }
  .about-me__icon {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1135px) {
  .about-me__col-subtitle {
    max-width: 160px;
  }
  .about-me__subtitle {
    max-width: 430px;
  }
  .about-me__col-title {
    font-size: 20px;
  }
  .about-me__subtitle {
    font-size: 17px;
  }
}

@media screen and (max-width: 920px) {
  .about-me__content {
    display: flex;
    flex-direction: column;
  }
  .about-me__picture {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .about-me__title {
    text-align: center;
  }
  .about-me__subtitle {
    text-align: center;
  }
  .about-me__col-subtitle {
    max-width: unset;
  }
  .about-me__head {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .about-me__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me__icon {
    margin-right: 27px;
  }
  .about-me__col {
    margin-right: 50px;
  }
}

@media screen and (max-width: 725px) {
  .about-me__cols {
    flex-direction: column;
    // align-items: center;
  }
  .about-me__icon  {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .about-me__col {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  .about-me__col:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .about-me__img {
    width: 280px;
  }
}

@media screen and (max-width: 290px) {
  .about-me__img {
    width: unset;
    width: 100%;
    max-width: 290px;
    max-width: 290px;
  }
}

// section-(about-me) end


// xxxxxxxxxxxxxxxxxxxxxxxxx


// section-(resume + resume-1) start

@media screen and (max-width: 457px) {
  .resume__subtitle {
    font-size: 16px;
    max-width: 320px;
  }
}


// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


// media section (feedback) start

@media screen and (max-width: 615px) {
  .feedback__content-img {
    margin-bottom: 35px;
    margin-right: 0;
    width: none;
    max-width: 280px;
  }
  .feedback__content {
    flex-direction: column;
    align-items: center
  }
  .feedback__content-title {
    text-align: center;
  }
  .feedback__content-inst {
    text-align: center;
  }
  .feedback__content-msm {
    text-align: center;
    max-width: 320px;
  }
  .feedback__content-group {
    text-align: center;
  }
}

@media screen and (max-width: 315px) {
  .feedback__content-img {
    width: none;
    max-width: none;
    width: 90%;
  }
}

// end 


// xxxxxxxxxxxxxxxxxxxxxxxxx



@media screen and (max-width: 1170px) {
  .contact-me__right-sms {
    width: 200px;
    // font-size: 13px;
  }
  .contact-form__input {
    font-size: 14px;
    width: 150px;
  }
}

@media screen and (max-width: 920px) {
  .contact-me__content {
    justify-content: none;
    flex-direction: column;
    align-items: center;
  }
  .contact-ways__title {
    text-align: center;
  }
  .contact-ways__subtitle {
    text-align: center;
  }
  .contact-ways {
    margin-right: 0;
    margin-bottom: 40px;
    // border: 1px solid red;
  }
  .contact-ways__address {
    align-items: center;
  }
  .contact-ways__phone-m {
    margin-bottom: 20px;
  }
  .contact-ways__btns {
    text-align: center;
    margin: 0 auto;
  }
  .contact-ways__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-me__form {
    background-color: unset;
    padding-left: 0;
    padding-right: 0;
    // border: 1px solid red;
  }
}

@media screen and (max-width: 475px) {
  .contact-me__left {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .contact-form__wrap-all {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .contact-ways__subtitle {
    font-size: 15px;
  }
  .contact-ways__btn {
    font-size: 16px;
  }
  .contact-ways__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-ways__white {
    margin-right: 0;
    margin-bottom: 10px;
  }
}


@media screen and (max-width: 345px) {
  .all-payment__title {
    font-size: 24px !important;
  }
  .all-payment__subtitle {
    max-width: 280px !important;
  }
}

// end 


// xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx



@media screen and (max-width: 700px) {
  .footer__content {
    justify-content: space-between;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
  }
  .footer__link-m {
    margin-right: 0;
    margin-bottom: 8px; 
  }
}

@media screen and (max-width: 430px) {
  .footer__content {
    justify-content: unset;
    flex-direction: column;
  }
  .footer__wrap-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .footer__links {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .footer__link-m {
    margin-right: 15px;
  }
  .footer__address-m {
    text-align: center;
  }
}

@media screen and (max-width: 365px) {
  .all-payment__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 416px) {
  .footer__copyright-serhii-yakymenko {
    font-size: 14px;
  }
}

@media screen and (max-width: 364px) {
  .footer__copyright-serhii-yakymenko {
    font-size: 12px;
  }
}


// xxxxxxxxxxxxxxxxxxxxxxxxxxx


// projects

@media screen and (max-width: 590px) {
  // .swiper-wrapper {
  //   display: flex;
  //   flex-direction: row;
  // }
  .swiper-pagination-bullet {
    font-size: 16px;
    margin-right: 15px !important;
  }
}

@media screen and (max-width: 450px) {
  .swiper-pagination-bullet {
    font-size: 14px;
    margin-right: 5px !important;
  }
}

@media screen and (max-width: 383px) {
  .portfolio {
    padding-top: 25px;
  }
  .swiper-container {
    padding-top: 40px;
  }
  .swiper-pagination-bullet {
    font-size: 11px;
  }
}


// end


// xxxxxxxxxxxxxxxxxxxxxxxx


// modal

@media screen and (max-height: 735px) {
  .modal__dialog {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 1240px) {
  .modal__dialog {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .modal__left-wrap-img {
    width: 300px;
  }
  .modal__left-block-little-img {
    width: 83px;
    height: 70px;
  }
}

@media screen and (max-width: 920px) {
  .modal__dialog {
    padding-top: 55px;
    padding-bottom: 25px;
  }
  .modal__close {
    top: 15px;
    right: 15px;
  }
  .modal__content {
    flex-direction: column;
    align-items: center;
  }
  .modal__left-wrap-img {
    margin-right: 20px;
    margin-bottom: 0;
    height: 200px;
    width: 250px;
  }
  .modal__left {
    flex-direction: row;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .modal__left-wrap-little-img {
    flex-direction: column;
  }
  .modal__left-block-little-img {
    margin-right: 0;
    margin-bottom: 20px;
    height: 53px;
    width: 63px;
  }
  .modal__left-block-little-img:last-child {
    margin-bottom: 0;
  }
  .modal-right__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal-right__subtitle {
    text-align: center;
    max-width: 410px;
  }
  .modal-right__title {
    text-align: center;
  }
  // text
  .modal-right__name {
    font-size: 25px;
  }
  .modal-right__title {
    font-size: 20px;
  }
  .modal-right__subtitle {
    font-size: 15px;
    line-height: 20px;
  }
  .modal-right__wrap-btn {
    padding-top: 10px;
  }
  .modal-right__btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 515px) {
  .modal__dialog {
    padding-top: 30px;
  }
  .modal__close {
    right: -2%;
    top: -20px;
    background: rgba(32, 12, 12, 0.81);
    border-radius: 50%;
    padding: 6px 5px 3px 6px;
  }
  .modal-right__name {
    font-size: 22px;
  }
  .modal__left-wrap-img {
    width: 230px;
    height: 180px;
  }
  .modal__left-block-little-img {
    width: 50px;
    height: 46px;
  }
  .modal-right__subtitle {
    max-width: 295px;
  }
}

@media screen and (max-width: 388px) {
  .modal__left-wrap-img {
    width: 190px;
    height: 155px;
  }
  .modal__left-block-little-img {
    width: 38px;
    height: 38px;
  }
  .modal-right__subtitle {
    max-width: 245px;
  }
  .modal-right__btn {
    font-size: 13px;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 920px) {
  .scrollup:hover {
    opacity: unset !important;
    opacity: none !important;
  }
  .scrollup {
    opacity: 0.7;
  }
}