.contact-me {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #22252C;
}

.contact-me__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-me__form {
  padding: 45px;
  padding-top: 50px;
  padding-bottom: 50px;
  // border: 1px solid red;
  background-color: #413d3d;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.contact-form__title {
  margin: 0;
  text-align: center;
  color: #02cfb4;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 0.9px;
  margin-bottom: 50px;
}

.contact-form__wrap-all {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  // align-items: center;
}

.contact-me__left {
  margin-right: 50px;
}

// input name


.contact-form__wrap-input {
  display: flex;
  flex-direction: column;
  // margin-right: 30px;
  margin-bottom: 40px;
}

.contact-form__wrap-input:last-child {
  margin-bottom: 0;
}

.contact-form__label {
  color: rgb(180, 179, 179);
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.contact-form__input::placeholder {
  color: #fff;
}

.contact-form__input {
  font-size: 17px;
  color: #fff;
  font-weight: 500;
  max-width: 200px;
  padding: 5px;
  padding-left: 0;
  background-color: transparent;

  outline: none !important;
  outline-offset: none !important;
  border: none;

  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;

}

.contact-form__input:focus {
  border: none;
  border: 1px solid #02cfb4;
}

.contact-me__right {

}

.contact-me__right-sms {
  width: 350px;
  height: 99%;
  background-color: transparent;
  outline: none !important;
  outline-offset: none !important;
  resize: none;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.contact-me__right-sms:focus {
  border: none;
  border: 1px solid #02cfb4;
}

.contact-me__right-sms::placeholder {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.contact-form__button {
  border: none;
  background-color: transparent;
  color: #02cfb4;
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 25px;
  border: 1px solid #02cfb4;
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form__button:hover {
  background-color: #02cfb4;
  color: #fff;
}

.contact-ways {
  margin-right: 75px;
}

.contact-ways__content {
  // border: 1px solid red;
  color: #fff;
}

.contact-ways__title {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: left;
}

.contact-ways__subtitle {
  color: #919191;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}

.contact-ways__address {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.contact-ways__tag-address {
  margin-bottom: 30px;
}

.contact-ways__phone-m {
  margin-bottom: 10px;
}

.contact-ways__white {
  color: #fff;
  margin-right: 20px;
}

.contact-ways__phone {
  color: #919191;
}

.contact-ways__btns {
  display: flex;
  flex-direction: row;
  color: #fff;
}

.contact-ways__btn {
  margin-right: 20px;
  color: rgb(173, 65, 65);
  font-size: 17px;
  text-align: left;
}

.contact-ways__btn:last-child {
  margin-right: 0;
} 

// payments section here
.all-payment__subtitle {
  text-align: center;
  margin: 0 auto !important;
  margin-bottom: 0;
  color: #787878 !important;
}