.feedback {
  padding-top: 50px;
  padding-bottom: 50px;
}

// slider
.swiper-container-2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
// end

.feedback__wrap-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feedbacl__title {
  text-align: center;
  color: #566366;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.feedback__content-img {
  width: 300px;
  height: 200px;
  background-color: #000;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-right: 35px;
}

.feedback__content-stars {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 10px;
}

.feedback__content-star {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.feedback__content-info {
  display: flex;
  flex-direction: column;
}

.feedback__content-title {
  // font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 15px;
}

.feedback__content-inst {
  font-size: 17px;
  color: #148eff;
  margin-bottom: 15px;
  font-weight: 600;
  font-style: normal;
}

.feedback__content-msm {
  color: #000;
  font-size: 18px;
  font-weight: normal;
  max-width: 350px;

  margin-bottom: 15px;
}

.feedback__content-group {
  color: #1890FF;
  font-size: 18px;
  font-weight: 500;
}

// .swiper-slide-2 {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }

.swiper-pagination-bullet-2:hover {
  cursor: pointer;
}

.swiper-pagination-bullet-2 {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(148, 149, 151);
  margin-right: 5px;
  border-radius: 50%;
  opacity: 0.8;
}

.swiper-pagination-bullet-active-2 {
  opacity: 1;
  background-color: rgb(116, 117, 117);
}

.swiper-pagination-2 {
  padding-top: 25px;
  width: 50px !important;
  margin: 0 auto;
}