.header-hero {
  // background: url("../video/ocean.jpg") no-repeat center/cover;
  min-height: 120vh;
  left: 0;
  top: 0;
}

.header {
  margin-bottom: 170px;
}

.header__content {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__img {
  margin-right: 20px;
}

.header__img-serhii {
  width: 70px;
  height: 77px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.header__title {
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
}

.header__subtitle {
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  font-family: sans-serif;
  color: #fff;
}

.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__link {
  margin-right: 15px;
}

.header__link:last-child {
  margin-right: 0;
}

.header__icon {
  width: 25px;
}

.header-hero__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-hero__title {
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-family: sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 32px;
  background-color: orange;
  padding: 5px;
  opacity: 0.7;
}

.header-hero__block {
  display: flex;
  flex-direction: row;
  margin-bottom: 190px;
}

.header-hero__col {
  margin-right: 75px;
}

.header-hero__col:last-child {
  margin-right: 0;
}

.header-hero__subtitle {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-style: normal;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  // background-color: orange;
  // padding: 5px;
  // opacity: 0.7;
  padding: 3px;
  background-color: rgba(228, 175, 0, 0.4);
}

.header-hero__button {
  background-color: #FAAD14;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 10px 15px;
  font-size: 25px;
  font-family: sans-serif;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 2px solid #FAAD14;
  opacity: 0.8;
}

.header-hero__button:hover {
  // border: 1px solid #FAAD14;
  background-color: transparent;
}